*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    list-style: none;
    text-decoration: none;         
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    color: black;
    display: flex;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1{
    margin-top: 0;
}

p{
    margin-top: 0;
}

/* HEADER */

.header{
    background-color: white;
    width: 100%;
    padding: 10px 50px;
    top: 0;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 20;   
}

.navlist{
    padding-top: 7px;
    width: 90%;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}

.dropbtn{
    color: lightslategray;
    font-size: 17px;
    font-weight: 500;
    margin-right: 20px;
    border: 0px;
    background-color: white;
    cursor: pointer;
}

.dropbtn:hover{
    color: black;
}

.loginbtn button{
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    color: rgb(0, 89, 255);
    padding: 10px;
    cursor: pointer;
}

.signbtn button {
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(0, 89, 255);
    border: 0;
    border-radius: 5px;
    padding:15px 25px;
    cursor: pointer;
}

/* SECTION ONE */



.section1{
    width: 100%;
    margin-top: 80px;
    padding-right: 20px;
    justify-content: space-between;
    display: flex;
    z-index: 2;
}

.box1{
    width: 45%;
    height: 780px;
    z-index: 2;
}

.backg{
    background-color: antiquewhite;
    height: 780px;
    width: 350px;
    position: absolute    
}

.imagediv{
    width: 40%;
    height: 95%;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    z-index: 2;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imagetext{
    color: rgb(131, 127, 127);
    background-color: white;
    position: absolute;
    margin-top: 540px;
    margin-left: 350px;
    padding: 20px 20px;
    width: 300px;
    height: 190px;
    z-index: 2;
}

.imagetext p{
    font-size: 16px;
}

.box2link{
    margin-top: -40px;
    float: right;
}

.images{
    display: flex;
    margin-top: 700px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
}

.subimagediv{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.box2{
    width: 45%;
    padding-top: 100px;
}

.box2head{
    font-size: 75px;
    color: rgb(1, 1, 80);
}

.box2text{
    color: rgb(131, 127, 127);
}

.box2email{
    border: 2px solid whitesmoke;
    width: 300px;
    outline: none;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
}

.box2btn{
    display: none;
}

.boxsec{
    width: 150px;
    height: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    float: right;
    margin-top: 280px;
    margin-right: 30px;
}

.sec{
    width: 20px;
    margin-top: -2px;
    height: 100%;
}

.seclogo{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
}

/* SECTION TWO */

#section2{
    width: 100%;
    margin-top: 50px;
    height: fit-content;
    padding: 50px;
    justify-content: space-between;
    display: flex;
}

.section2{
    width: 47%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.box3{
    width: 100%;
    height: 250px;
}

.box3head{
    margin-top: 0;
    font-size: 50px;
    color: rgb(1, 1, 80);
}

.box4{
    width: 100%;
    padding-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    height: 750px;
    overflow: hidden;
}

.box4div{
    padding-left: 40px;
    padding-right: 20px;
}

.box4text{
    font-size: 22px;
    color: rgb(131, 127, 127);
    font-weight: bold;
}

.box4head{
    font-size: 35px;
    color: rgb(1, 1, 80);
}

.text4{
    font-size: 20px;
    color: rgb(131, 127, 127);
}

.box4link{
    text-transform: uppercase;
    color: blue;
    font-size: 14px;
    font-weight: bold;
}

.box4ctext{
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.box4chead{
    font-size: 35px;
    color: white;
}

.text4c{
    font-size: 20px;
    color: rgb(241, 233, 233);
}

.box4clink{
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bold;
}



.subbox4{
    width: 100%;
    height: 65%;
    margin-top: 50px;
    position: relative;
    cursor: pointer;
}

.savingsbox{
    width: 100%;
    height: 100%;
    position: absolute;
}

.savings{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.screenshot{
    width: 330px;
    margin-top: 25px;
    margin-left: 150px;
    height: 700px;
}

.screenshotbox{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all .7s ease;
}

.screenshotbox:hover{
    opacity: 1;
}

/* SECTION THREE */

.section3{
    background-color: rgb(250, 250, 250);
    width: 100%;
    padding: 100px;
    margin-top: 200px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.background3{
   width: 1000px; 
   height: 1000px;
   margin-top: -300px;
   margin-left: -400px;
}

.investment{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box5{
    width: 45%;
    display: flex;
    position: absolute;
    justify-content: center;
}

.investmentbox{
    width: 380px;
    height: 770px;
}

.box6{
    width: 45%;
    height: 94%;
}

.box6head{
    font-size: 35px;
    color: rgb(1, 1, 80);
}

.subbox6{
    width: 100%;
    height: 65%;
    margin-bottom: 60px;
}

.textbox6{
    font-size: 20px;
    color: rgb(131, 127, 127);
}

.number{
    display: flex;
    align-items: center;
}

.textline{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.vl{
    border-left: 1px solid rgb(0, 89, 255);
    height: 100px;
    margin-left: 10px;
    margin-right: 70px;
}

.vl3{
    border-left: 0px solid white;
    height: 100px;
    margin-left: 10px;
    margin-right: 70px;
}

.vltext{
    padding-right: 40px;
    margin-top: -20px;
}

.no{
    font-size: 22px;
    color: rgb(0, 89, 255);
    font-weight: bold;
    margin-right: 50px;
}

.nohead{
    color: rgb(1, 1, 80);
    font-size: 23px;
}

/* SECTION FOUR */

.section4{
    position: relative;
    background-color: rgb(0, 89, 255);
    width: 100%;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    overflow: hidden;
    display: flex;
}

.security{
    margin-left: 800px;
    height: 900px;
    position: absolute;
    opacity: 0.5;
}

.subsec4{
    width: 75%;
}

.moneysafe{
    width: 60%;
}

.securityhead{
    color: white;
    font-size: 50px;
}

.textsec4{
    color: white;
    font-size: 22px;
}

.bank{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
}

.subbank{
    width: 45%;
}

.bankhead{
    display: flex;
}

.labelbox{
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-right: 50px;
    border-radius: 2px;
    box-shadow: 3px 3px rgb(204, 204, 204);
    background-color: white;
}

.banktext{
    color: rgba(255, 255, 255, 0.822);
    font-size: 18px;
    margin-left: 70px;
}

/* SECTION FIVE */

.section5{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 50px;
    width: 100%;
    height: 200px;
}

.center{
    margin-top: 20px;
    width: 900px;
}

.slider{
    color: blue;
    font-weight: bold;
}

.slide{
    overflow: hidden;
    height: 90px;
}

.slide div div {
    font-size: 60px;
    display: inline-block;
    color: rgb(1, 1, 80);
    opacity: 0.7;
    padding: 5px 0;
    border-radius: 2px;
    margin-bottom: 60px;
}

.slide div:nth-child(1){
    animation: animate 20s ease-out infinite;
    animation-direction: reverse;
    animation-delay: 2s;
}

@keyframes animate{
    0%{margin-top: -430px;}
    0%{margin-top: -430px;}
    5%{margin-top: -345px;}
    20%{margin-top: -345px;}
    25%{margin-top: -250px;}
    40%{margin-top: -250px;}
    45%{margin-top: -160px;}
    60%{margin-top: -160px;}
    65%{margin-top: -60px;}
    80%{margin-top: -60px;}
    85%{margin-top: 0px;}
    95%{margin-top: 0px;} 
}


/* SECTION SIX */

.section6{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    padding: 50px;
}

.boxsec6{
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 30px;
}

sub{
    color: grey;
    vertical-align: text-bottom;
    line-height: 39px;
    font-size: 22px;
    font-weight: bold;
}

.rate{
    color: rgb(1, 1, 80);
    font-size: 40px;
    font-weight: 500;
}

.ratebox{
    width: 220px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 40px;
}

.stardiv{
    margin-top: 13px;
    height: 60%;
    width: 110px;
}

.checked{
    color: orange;
}

.btn4{
    background-color: rgb(1, 1, 80);
    display: flex;
    text-align: justify;
    line-height: 0.5;
    justify-content: center;
    width: 160px;
    height: 45px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer; 
    border: 2px solid whitesmoke;  
}

.buttontext, .buttonicon{
    display: inline-flex;
    align-items: flex-start;
    padding: 0 2px;
    height: 100%;
}

.buttonicon{
    font-size: 1.5em;
    padding-bottom: 4px;
    padding-right: 10px;
}

.appleicon{
    height: 25px;
    width: 25px;
}

.testimonybox{
    width: 100%;
    height: 75%;
}

.thead{
    color: rgb(1, 1, 80);
    font-size: 22px;
}

.ttext{
    color: grey;
    font-size: 14px;
    margin-bottom: 50px;
}

/* SECTION SEVEN */

.section7{
    background-color: rgb(0, 89, 255);
    width: 92%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.sec7head{
    font-size: 40px;
    color: white;
}

.subsec7{
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(112, 162, 255);
    
}

.box7email{
    background-color: rgb(112, 162, 255);
    border: none;
    outline: none;
    width: 300px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
}

.box7email::placeholder{
    color: gainsboro;
}

.signbtn7 button{
    color: rgb(1, 1, 80);
    background-color: white;
    font-weight: 500;
    height: 45px;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.signbtn7 button:hover{
    background-color: rgb(1, 1, 80);
    color: white;
    transition: .5s ease-in-out;
}

/* SECTION EIGHT */

.section8{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 200px;
    margin-top: 100px;
}

.subsec8{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.fbox{
    width: fit-content;
    height: fit-content;
}

.flist{
    list-style: none;
}

.lihead{
    color: rgb(1, 1, 80);
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
}

.flist li a{
    color: grey;
    font-size: 0.9em;
    line-height: 40px;
}

.flist li a:hover{
    color: blue;
}

.linebreak{
    border: 1px solid whitesmoke;
    width: 98%;
    height: 1px;
    margin: 50px 0;
}

/* SECTION NINE */

.section9{
    width: 100%;
    background-color: ghostwhite;
    background-image: url(image/home-device-section.svg);
    padding: 50px;
}

.social{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fb{
    width: 18px;
    height: 18px;  
    opacity: 0.8;  
}

.fb:hover{
    opacity: 1;
}

.licensebox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    margin-right: 20px;
    height: 50px;
    width: 250px;
    padding: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.liclogodiv{
    width: 30px;
    height: 30px;
}

.liclogo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.lictext{
    line-height: 0.3;
    padding: 5px;
    margin-top: 15px;
}

.ltext{
    margin-top: 50px;
}

.ltext p{
    font-size: 13px;
    color: grey;
}

.lalink{
    font-size: 13px;
    color: blue;
}


/* MEDIA QUERY */

@media screen and (max-width:960px){
    .container{
        flex-direction: column;
    }

    h1{
        margin-top: 0;
    }
    
    p{
        margin-top: 0;
    }

    /* HEADER */
    .header{
        display: none;
        padding: 0;
    }

    .navlist {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .dropbtn{
        display: block;
        padding: 0;
    }

    .lsbtn{
        display: flex;
        flex-direction: column-reverse;
    }

    /* SECTION ONE */

    .section1{
        margin-top: 80px;
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
    }

    .box1{
        width: 100%;
        height: 500px;
        margin-top: 15px;
    }

    .backg{
        width: 270px;
        height: 640px;
    }

    .imagediv{
        width: 85%;
        height: 58%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .images{
        margin-top: 570px;
        margin-left: 20px;
    }

    .imagetext{
        margin-top: 380px;
        margin-left: 19px;
        width: 300px;
        height: 170px;
    }
    
    .imagetext p{
        font-size: 14px;
    }
    
    .box2{
        width: 95%;
        padding-top: 50px;
        padding-left: 20px;
    }

    .box2text{
        font-size: 16px;
    }

    .box2head{
        font-size: 40px;
    }

    .box2input{
        display: none;
    }

    .box2btn{
        display: flex;
    }

    .boxsec{
        display: none;
    }

    /* SECTION TWO */

    #section2{
        flex-direction: column;
        padding: 0 20px;
        margin-top: 170px;
    }

    .section2{
        width: 100%;
        
    }

    .box3{
        height: 180px;
    }

    .box3head{
        font-size: 30px;
    }

    .box4{
        width: 98%;
    }

    .box4div{
        padding-left: 50px;
        padding-right: 20px;
    }

    .box4text{
        font-size: 17px;
    }

    .box4head{
        font-size: 30px;
    }

    .text4{
        font-size: 15px;
    }

    .box4link{
        font-size: 12px;
    }

    .box4ctext{
        font-size: 17px;
    }
    
    .box4chead{
        font-size: 30px;
    }
    
    .text4c{
        font-size: 15px;
    }
    
    .box4clink{
        font-size: 12px;
    }

    .screenshot{
       margin-right: auto;
       margin-left: auto;
    }

    /* SECTION THREE */
    .section3{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 100px 0;
        margin-top: 100px;
    }

    .background3{
        width: 700px;
        height: 400px;
    }

    .box5{
        width: 100%;
    }

    .investmentbox{
        width: 250px;
        height: 510px;
       margin-left: 40px;
    }

    .box6{
        width: 85%;
        margin-top: 500px;
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    .box6head{
        font-size: 25px;
        text-align: center;
        margin-bottom: 40px;
    }

    .no{
        font-size: 18px;
    }

    .nohead{
        font-size: 18px;
    }

    .textline{
        text-align: justify;
    }

    .textbox6{
        font-size: 15px;
    }

    .vl, .vl3{
        margin-right: 60px;
    }

    /* SECTION FOUR */
    .section4{
        width: 100%;
        flex-direction: column;
        padding: 100px 20px;
    }

    .security{
        display: none;
    }

    .subsec4{
        width: 98%;
    }

    .moneysafe{
        width: 98%;
    }

    .securityhead{
        font-size: 35px;
    }

    .textsec4{
        font-size: 16px;
    }

    .bank{
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    .subbank{
        width: 95%;
        margin-top: 40px;
    }

    .banktext{
        font-size: 16px;
    }

    /* SECTION FIVE */
    .section5{
        padding: 20px;
    }

    .center{
        width: 350px; 
    }

    .slide{
        height: 100px;
    }

    .slide div div{
        font-size: 35px;
        margin-bottom: 65px;
    }

    @keyframes animate{
        0%{margin-top: -430px;}
        0%{margin-top: -430px;}
        5%{margin-top: -325px;}
        20%{margin-top: -325px;}
        25%{margin-top: -225px;}
        40%{margin-top: -225px;}
        45%{margin-top: -130px;}
        60%{margin-top: -130px;}
        65%{margin-top: -58px;}
        80%{margin-top: -58px;}
        85%{margin-top: 0px;}
        95%{margin-top: 0px;} 
    }

    /* SECTION SIX */
    .section6{
        flex-direction: column;
        padding: 0 20px;
    }

    .boxsec6{
        width: 98%;
        margin-bottom: 30px;
    }

    .ratebox{
        margin-bottom: 20px;
    }

    .testimonybox{
        margin-top: 20px;
    }

    /* SECTION SEVEN */
    .section7{
        flex-direction: column;
        padding: 30px;
        align-items: flex-start;
    }

    .sec7head{
        font-size: 25px;
    }

    .subsec7{
        background-color: rgb(0, 89, 255);
    }

    .box7email{
        width: 100%;
        margin-bottom: 15px;
    }

    /* SECTION EIGHT */
    .section8{
        flex-direction: column;
        padding-right: 50px;
    }

    .subsec8{
        width: 100%;
    }

    /* SECTION NINE */
    .section9{
        padding: 20px;
    }

    .social{
        width: 150px;
        margin-bottom: 20px;
    }

    .licensebox{
        border: none;
        margin-right: 0;
        float: none;
        margin-bottom: 20px;
    }

    .ltext{
        margin-top: 20px;
    }

    .ltext p{
        font-size: 12px;
    }
}

